// Define variables for your color scheme

// For example:
$red: #FF0000;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4ed262;
$gray: #222222;
$light-gray: #F4F4F4;

$secondary: #ffffff;
$third: #939393;
$fourth: #222222;


