<div class="main-banner">
    <div class="titles-banner">
      <h1 class="main-banner-h1">SpaceTrip - Experience the Ultimate Adventure</h1>
      <h2>Book Your Journey to the Stars</h2>
    </div>

    <%= link_to "Register!", new_user_registration_path, class: "button-red"%>
    <%= link_to "Login!", new_user_session_path, class: "button-red"  %>
</div>
