<h1>Welcome to SpaceTrip</h1>
<p>Have a nice trip</p>

<style>
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
</style>
<%= link_to "Register!", new_user_registration_path, class: "button-red"  %>
<%= link_to "Login!", new_user_session_path, class: "button-red"  %>
