<div class="main-banner">
    <div class="titles-banner">
      <h1 class="main-banner-h1">SpaceTrip - Experience the Ultimate Adventure</h1>
      <h2>Book Your Journey to the Stars</h2>
    </div>
    <div class="main-banner-cta">
       <%= link_to "Book now!", listings_path, class: "button-red"%>
    </div>
</div>

<div class="section">
  <div class="section-img">
  </div>

  <div class="section-text">
    <h2>SpaceTrip</h2>
    <p>SpaceTrip is a space travel agency that offers a variety of space travel packages. We offer a variety of packages to suit your needs. Whether you are looking for a short trip to the moon or a long trip to Mars, we have the right package for you. We also offer a variety of packages for famil
  </div>
</div>

 <div class="secondary-banner">
      <div class="section-cta">
         <%= link_to "Book now!", listings_path, class: "button-red"%>
      </div>
  </div>
