<h1>Welcome to SpaceTrip</h1>
<p>Have a nice trip</p>

<%= link_to "Register!", new_user_registration_path, class: "button-red"  %>
<%= link_to "Login!", new_user_session_path, class: "button-red"  %>

<br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img src="https://www.gamespot.com/a/uploads/scale_super/171/1712892/3389882-0.%20millennium%20falcon.jpg" alt="Millennium Falcon" style="width:100%; border-radius: 10px 10px 0px 0px;">
        <div class="card-description">
          <div>
            <h4><b>Millennium Falcon</b></h4>
            <div class="card-details">
              <p>15th March 2023</p>
              <p>20</p>
            </div>
            <h4><b>$ 1,500,000 night</b></h4>
          </div>
          <div>
            ★4.8
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <img src="https://www.gamespot.com/a/uploads/scale_super/171/1712892/3389882-0.%20millennium%20falcon.jpg" alt="Millennium Falcon" style="width:100%; border-radius: 10px 10px 0px 0px;">
        <div class="card-description">
          <div>
            <h4><b>Millennium Falcon</b></h4>
            <div class="card-details">
              <p>15th March 2023</p>
              <p>20</p>
            </div>
            <h4><b>$ 1,500,000 night</b></h4>
          </div>
          <div>
            ★4.8
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <img src="https://www.gamespot.com/a/uploads/scale_super/171/1712892/3389882-0.%20millennium%20falcon.jpg" alt="Millennium Falcon" style="width:100%; border-radius: 10px 10px 0px 0px;">
        <div class="card-description">
          <div>
            <h4><b>Millennium Falcon</b></h4>
            <div class="card-details">
              <p>15th March 2023</p>
              <p>20</p>
            </div>
            <h4><b>$ 1,500,000 night</b></h4>
          </div>
          <div>
            ★4.8
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <img src="https://www.gamespot.com/a/uploads/scale_super/171/1712892/3389882-0.%20millennium%20falcon.jpg" alt="Millennium Falcon" style="width:100%; border-radius: 10px 10px 0px 0px;">
        <div class="card-description">
          <div>
            <h4><b>Millennium Falcon</b></h4>
            <div class="card-details">
              <p>15th March 2023</p>
              <p>20</p>
            </div>
            <h4><b>$ 1,500,000 night</b></h4>
          </div>
          <div>
            ★4.8
          </div>
        </div>
      </div>
    </div>
        <div class="col-lg-4">
      <div class="card">
        <img src="https://www.gamespot.com/a/uploads/scale_super/171/1712892/3389882-0.%20millennium%20falcon.jpg" alt="Millennium Falcon" style="width:100%; border-radius: 10px 10px 0px 0px;">
        <div class="card-description">
          <div>
            <h4><b>Millennium Falcon</b></h4>
            <div class="card-details">
              <p>15th March 2023</p>
              <p>20</p>
            </div>
            <h4><b>$ 1,500,000 night</b></h4>
          </div>
          <div>
            ★4.8
          </div>
        </div>
      </div>
    </div>
        <div class="col-lg-4">
      <div class="card">
        <img src="https://www.gamespot.com/a/uploads/scale_super/171/1712892/3389882-0.%20millennium%20falcon.jpg" alt="Millennium Falcon" style="width:100%; border-radius: 10px 10px 0px 0px;">
        <div class="card-description">
          <div>
            <h4><b>Millennium Falcon</b></h4>
            <div class="card-details">
              <p>15th March 2023</p>
              <p>20</p>
            </div>
            <h4><b>$ 1,500,000 night</b></h4>
          </div>
          <div>
            ★4.8
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
