<div class="main-banner">
    <div class="titles-banner">
      <h1 class="main-banner-h1">Congratulations!</h1>
      <h2> You are all set up for the biggest adventure of your life</h2>
    </div>
</div>
