<h1 class="title px-4">Testimonials</h1>

<div class="cards">
  <div class="card-review cards-container-review text-start">
    <div>
      <h1>Sarah</h1>
      <p class="color-gray">September 2022</p>
    </div>
    <p>I never knew that traving in space was this safe and the service was excellent.</p>
  </div>

  <div class="card-review cards-container-review text-start">
    <h1 class="text-left">Karen</h1>
    <h4 class="color-gray text-right">March 2022</h4>
    <p>I highly recommend this and without childeren ofcourse. They are sometimes a pain in the ass.</p>
  </div>

  <div class="card-review cards-container-review text-start">
    <h1 class="text-left">Jaden</h1>
    <h4 class="color-gray text-right">December 2022</h4>
    <p>this was the most revamped trip we have ever experienced. This is definitely highly recommended!</p>
  </div>

  <div class="card-review cards-container-review text-start">
    <h1 class="text-left">Alec</h1>
    <h4 class="color-gray text-right">May 2022</h4>
    <p>Me and my wife really enjoy our trip! It was our honeymoon. And we are the new members of Mile high club!!! (if that also count for in the spaceship.)</p>
  </div>

  <div class="card-review cards-container-review text-start">
    <h1 class="text-left">Chloe</h1>
    <h4 class="color-gray text-right">November 2021</h4>
    <p>I did't like my seat... Crying childeren and old people where complaining about there food.</p>
  </div>

  <div class="card-review cards-container-review text-start">
    <h1 class="text-left">Alexis</h1>
    <h4 class="color-gray text-right">December 2022</h4>
    <p>Don't look in the sun. It really hurts, but the trip was relaxing and I book the SPA. It was a 10 plus! </p>
  </div>

  <div class="card-review cards-container-review text-start">
    <h1 class="text-left">Darth Vader</h1>
    <h4 class="color-gray text-right">February 2022</h4>
    <p>Good transport tableware to death star. My neighbor was horrible. She shit in her pants after the launch. </p>
  </div>

  <div class="card-review cards-container-review text-start">
    <h1 class="text-left">Harry Pooter</h1>
    <h4 class="color-gray text-right">July 2022</h4>
    <p>Spaceship is so much faster then broom stick. I love it! But for some reason Ron disappeared in the darkness...</p>
  </div>
</div>

<div class="extra-space-review"></div>
