// body {
//   background-color: $bg-dark;
// }
.listing-title-infos {
  display: flex;
  justify-content: flex-start;
}

.listing-title-infos p {
  margin-right: 20px;
}
// p, h1, h2, h3 {
//   color: white;
// }

.listing-description-card {
  max-width: 800px;
}

.listing-container {
width: 1000px;
margin: 0 auto;
}

// h1, h2 {
//   text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
// }

// .infos-main-img {
//   width:500px;
//   height:300px;
//   overflow:hidden;
// }

// .infos-main-img img {
//   width:100%;
//   height:100%;
//   object-fit: cover;
// }

// .main-banner {
//   background-image: url("banner2.png");
//   background-size: cover;
//   background-position: center;
//   display: flex;
//   flex-direction: column;
//   height: 80vh;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
// }

// .titles-banner{
//   margin-bottom: 40px;
// }

// .secondary-banner {
//   background-image: url("secondary-banner.jpg");
//   background-size: cover;
//   background-position: center;
//   display: flex;
//   flex-direction: column;
//   height: 500px;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
// }

// .section {
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   height: 600px;
//   width: 100%;
// }

// .section-img {
//   background-image: url("banner.jpg");
//   background-size: cover;
//   background-position: center;
//   width: 500px;
//   height: 400px;
// }

// .section-text {
//   width: 500px;
//   height: 400px;
//   justify-content: left;

//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
