.button-red {
    color: $secondary;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    background-color: $primary;
    text-decoration: none;
    font-family: Space Grotesk, sans-serif; /* install file for letterrype */
    font-size: 25px;
  }
