.title {
  margin: 30px 0px;
}

.card-details {
  border-radius: 5px;
  padding: 0px 20px;
}

.card-description {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0px 20px;
}

.cards-container {
background-color: white;
border-radius: 5px;
margin-top: 40px;

}

.image {
  object-fit: cover;
  width: 100%;
  height: 350px;
  border-radius: 5px;
}


.card-title {
  color: black;
}

.card-info {
  color: gray;
  margin-bottom: 0px;
}

.card-price {
  color: black;
}

.space {
  padding: 3px 0px;
}

.hover-card {
  position: relative;
}

.hidden-text {
  color: antiquewhite;
  position: absolute;
  bottom: -10px;
  left: 15px;
  opacity: 0;
}

.image:hover + .hidden-text {
  opacity: 1;
  transition-duration: 1s;
}


.button-center-form {
  text-align: center;
}
