.navbar-lewagon {
  background: white;
}

.container-fluid {
  justify-content: space-evenly;
}
ul{
  list-style: none;
  align-items:center;
  margin-bottom: 0px;

}
.nav-item {
  padding-right: 25px;
}

.navbar-omar {
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: #111111;
}

.navbar-omar {
  flex-direction: row;
}

.navbar {
  justify-content: space-evenly;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.border_colour {
  border: 1px solid white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
