// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/dashboard";
// Icons

label {
  color: white;
}

// html {
//   // cursor: pointer;
//   cursor: url("cursor.png"), crosshair, auto;
//   // animation: ease;
//   // transition: 0.7s;
//   min-height: ;

// }

body {
  cursor: asset-url("cursor.png"), auto;
  transition: cursor 0.7s ease;
}

html {
  min-height: 100%;
  cursor: asset-url("cursor.png"), auto;
}

a, .navbar li:hover, .button:hover, .btn, .btn-red:hover, .form {
  cursor: asset-url("cursor-hover.png"), auto;
}
